@import "tailwindcss";

body {
    background-color: #111c2d;
    padding: 10px;
}

table {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

/* tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; } */
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }


input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
  padding-left: 30px;
}
input::-moz-placeholder { /* Firefox 19+ */
  padding-left: 30px;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  padding-left: 30px;
}
input:-moz-placeholder { /* Firefox 4-18 */
  padding-left: 30px;
}   